<!doctype html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Wilson Guo's portfolio">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="shortcut icon" href="images/favicon.ico">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
    <!-- modernizr -->
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  </head>
  <body>
    <div class="header-container">
      <header class="header-wrapper">
        <h5 class="logo"><a href="/">WILSON GUO</a></h5>
        <a class="open-nav" href="#">Menu</a>
      </header>
      <nav id="navigation-mobile">
        <ul>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </nav>
      <nav id="navigation-desktop">
        <ul>
          <li><a href="/resume">Resume</a></li>
          <li><a href="/projects">Projects</a></li>
        </ul>
      </nav>
    </div>
    {{{body}}}
    <div class="footer-container">
      <footer>
        <p>&copy; 2017 Wilson Guo</p>
        <small>
          Please update your browser to the latest version of IE, Edge,
          Firefox, Chrome, or Safari for the best possible user
          experience.
        </small>
    </div>
    <script src="js/main.min.js"></script>
  </body>
</html>
