/* partials */
@import "partials/_reset";
@import "partials/_base";
@import "partials/_header";
@import "partials/_index";
@import "partials/_projects";
@import "partials/_resume";
@import "partials/_errors";
@import "partials/_footer";
@import "partials/_mediaQueries";
