<div class="error-container">
  <h3>Oops.</h3>
  <main class="error-flex-grid">
    <section class="page-not-found">
      <h2 class="error-title">Error 404</h2>
      <h2>Page not found.</h2>
      <p>
        Perhaps the page you were trying to find no longer exists?
        Please hit the back button and try again. If you believe
        the URL is correct, please feel free to contact me at
        <a href="mailto:wguo91@gmail.com">wguo91@gmail.com</a>. Thank you!
      </p>
      <p>
        If you were just looking for a copy of my resume, click
        <a href="/files/resume-wilson-guo.pdf">here</a> to download a copy.
      </p>
    </section>
  </main>
</div>
