<div class="main-container">
  <h3>Wilson Guo</h3>
  <main class="main-flex-grid">
    <section>
      <h4 class="section-title">RESUME</h4>
      <div class="flex-grid">
        <a href="/resume">
          <img class="section-img" src="images/resume.jpg">
        </a>
        <p>
          A thorough account of my education, qualifications, and
          previous experience. There is also a more brief and
          downloadable PDF version that can be found
          <a href="/files/resume-wilson-guo.pdf">here</a>.
        </p>
      </div>
    </section>
    <section>
      <h4 class="section-title">PROJECTS</h4>
      <div class="flex-grid">
        <a href="/projects">
          <img class="section-img" src="images/projects.jpg">
        </a>
        <p>A few little side projects I've worked on in the
          past year, either for fun or just to familiarize
          myself with a new framework or library. For more
          information on the code itself, please take a
          look at my Github page.</p>
      </div>
    </section>
    <section>
      <h4 class="section-title">ABOUT</h4>
      <div class="flex-grid">
        <img class="section-img" src="images/wilson.jpg">
        <p>
          I graduated a few years ago from UCSD with a B.S. in Computer
          Engineering. My primary focus is front-end development,
          although I hope to adapt into a full-stack role in the future. Thanks
          to the internet, I am always teaching myself a new library or
          framework. Aside from coding, I enjoy running, hiking,
          sketching, and improving my Chinese.
        </p>
      </div>
    </section>
    <section>
      <h4 class="section-title">OTHER</h4>
      <div class="other-icons">
        <a href="https://www.linkedin.com/in/wguo91/">
          <img src="images/linkedin.png">
        </a>
        <a href="https://github.com/wguo91">
          <img src="images/github.png">
        </a>
        <a href="#"><img src="images/hackerrank.png"></a>
        <!--
        <a href="https://www.hired.com">
          <img src="images/hired.png">
        </a>
        -->
      </div>
    </section>
  </main>
</div>
