<div class="projects-container">
  <h3>My Projects</h3>
  <main class="projects-flex-grid">
    <section>
      <h4 class="section-title">GRADESHEET</h4>
      <div class="flex-grid">
        <a href="https://whatshouldieat-wguo.herokuapp.com/">
          <img class="section-img" src="images/gradesheet.jpg">
        </a>
        <p>
          A simple <span>NodeJS/ExpressJS</span> grading application
          for teachers and students. I used <span>MongoDB</span>
          for database related functions, <span>HandlebarsJS</span> for
          my templating engine, and regular old <span>HTML/CSS</span>
          and <span>JavaScript</span> for everything client-side.
          Application is best viewed on mobile.
        </p>
      </div>
    </section>
    <section>
      <h4 class="section-title">WHAT SHOULD I EAT</h4>
      <div class="flex-grid">
        <a href="https://whatshouldieat-wguo.herokuapp.com/">
          <img class="section-img" src="images/whatshouldieat.jpg">
        </a>
        <p>
          Another small side project that was an attempt at imitating
          <a href="https://wtfsigte.com/">https://wtfsigte.com</a>, minus
          the profanity. This is basically a <span>NodeJS/ExpressJS</span>
          application that helps you find a place to eat or drink.
          Templates were created with <span>HandlebarsJS</span>
          and I utilized the <span>Yelp Search API</span> and the
          <span>Google Maps API</span> in order to obtain information.
          I used <span>HTML/CSS/JavaScript</span> for the client-side.
        </p>
      </div>
    </section>
    <section>
      <h4 class="section-title">REACT WEATHER APP</h4>
      <div class="flex-grid">
        <img class="section-img" src="images/weather.png">
        <p>
          To be filled out.
        </p>
      </div>
    </section>
  </main>
</div>
