<div class="resume-container">
  <h3>My Resume</h3>
  <main class="resume-flex-grid">
    <section>
      <div class="resume-entry">
        <h5 class="section-title-center">Wilson Guo</h5>
        <p><a href="/files/resume-wilson-guo.pdf">Download resume</a></p>
      </div>
      <div class="resume-entry">
        <h5 class="section-title">Education</h5>
        <p>B.S., Computer Engineering</p>
        <p>University of California, San Diego</p>
        <p>Graduation Date: June 2014</p>
      </div>
      <div class="resume-entry">
        <h5 class="section-title">Technical Skills</h5>
        <ul>
          <li>Proficient in HTML/CSS/JavaScript</li>
          <li>Familiar with NodeJS, ExpressJS, HandlebarsJS, and MongoDB</li>
          <li>Comfortable working with UNIX, Eclipse, GitHub</li>
        </ul>
      </div>
      <div class="resume-entry">
        <h5 class="section-title">Relevant Experience</h5>
        <p class="workplace"><span>Cloudera</span></p>
        <p class="date">Mar 2015 – Aug 2016</p>
        <p>Front-end Web Developer</p>
        <ul>
          <li>
            Created webpages using AEM, a content management system
          </li>
          <li>
            Developed web components for Adobe Enterprise Manager in
            HTML and JSP
          </li>
          <li>
            Utilized JIRA to track, identify, and resolve errors within
            the company website
          </li>
        </ul>
      </div>
      <div class="resume-entry">
        <p class="workplace"><span>Informatica</span></p>
        <p class="date">Jun 2014 – Sep 2014</p>
        <p>Software Developer Intern</p>
        <ul>
          <li>
            Gained familiarity in jQuery through working on a web
            application framework</li>
          <li>
            Employed jQuery to wrap and add new functionality to an
            existing rich text editor widget</li>
          <li>
            Worked in an Agile environment and used Perforce for version
            control
          </li>
        </ul>
      </div>
      <div class="resume-entry">
        <p class="workplace"><span>UCSD American Chemical Society</span></p>
        <p class="date">Sep 2013 – Apr 2014</p>
        <p>Web Developer</p>
        <ul>
          <li>
            Used HTML/CSS/JavaScript to create a homepage for the
            organization
          </li>
          <li>
            Designed the website based on modern trends e.g. flat UI design
          </li>
        </ul>
      </div>
      <div class="resume-entry">
        <p class="workplace"><span>UCSD CSE Department</span></p>
        <p class="date">Jun 2012 – Jul 2012</p>
        <p>Tutor for CSE12 (Basic Data Structures)</p>
        <ul>
          <li>
            Assisted a class of 60 students in learning data structures
            (linked lists, heaps, etc.)
          </li>
          <li>
            Clarified object-oriented principles such as inheritance,
            polymorphism, and encapsulation to students
          </li>
        </ul>
      </div>
    </section>
  </main>
</div>
