/**************************
 * GENERAL/MAIN
 **************************/
.projects-container {
  .projects-flex-grid {
    margin-bottom: 1em;
    section {
      background-color: rgba(255, 255, 255, 0.9);
      border-radius: 0.25em;
      padding: 1em;
      margin: 0 1em 1em;
      overflow: hidden;
      text-align: center;
      .flex-grid {
        span {
          font-weight: bold;
        }
        p {
          font-size: $p-small;
          text-align: left;
          padding: 1em;
          line-height: 1.25em;
        }
        .section-img {
          min-width: 200px;
          min-height: 200px;
          max-width: 200px;
          max-height: 200px;
          border-radius: 0.5em;
        }
      }
    }
    section:last-child {
      border-bottom: none;
    }
  }
}
